# Cartelle
*/venv/
DeCUR/checkpoint/*
logs/
SUN_RGBD/
kaist/

# Files
.python-version
.tar.gz
DeCUR/lmdb
DeCUR/np
DeCUR/pickle

# Dataset folder
ssl4eo-s12_100patches/
ssl4eo-s12_100patches.tar.gz
SSL_lmdb_dataset/
SUNRGBD/
SUNRGBD.zip
SUNRGBD-*.tgz
checkpoint/*
*.zip
